# Python
__pycache__/
*.py[cod]
*$py.class
*.log
.env
venv/
.venv/

# Android
.gradle/
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Docker
postgres_data/
